mat-pseudo-checkbox {
    display: none !important;
}

.mat-button-toggle-group-appearance-standard .mat-button-toggle-appearance-standard+.mat-button-toggle-appearance-standard {
    border-left: solid 0px var(--mat-standard-button-toggle-divider-color) !important;
}

.mat-button-toogle button {
    border-radius: 0 !important;
}

.mat-button-toggle-standalone.mat-button-toggle-appearance-standard,
.mat-button-toggle-group-appearance-standard {
    border: 0 !important;
}

// .mat-button-toggle-checked {
//     color: var(--mat-legacy-button-toggle-selected-state-text-color);
//     background-color: var(--mat-legacy-button-toggle-selected-state-background-color);
// }

:root {
    --mat-standard-button-toggle-background-color: #212b36f0; //#2f3344;
    --mat-standard-button-toggle-text-color: #fff;
    --mat-standard-button-toggle-shape: 5px;
    --mat-standard-button-toggle-divider-color: #00000000;
    --mat-standard-button-toggle-text-color: #ffffff;
    --mat-standard-button-toggle-label-text-size: 15px;
    --mat-standard-button-toggle-label-text-line-height: 40px;
    --mat-standard-button-toggle-label-text-weight: 400;

    --mat-standard-button-toggle-selected-state-text-color: #fff;
    --mat-standard-button-toggle-selected-state-background-color: #5550be;

}

.mat-button-toggle {
    white-space: nowrap;
    position: relative;
}

.matselect-custom.mat-mdc-select-panel {
    background: #0e0e13 !important;
    ;
    color: var(--white-color);
}

.matselect-custom.mat-mdc-select-panel {
    --mat-option-label-text-color: #fff !important;
    --mdc-filled-text-field-container-color: #000;
}

.matselect-custom.mdc-text-field--filled:not(.mdc-text-field--disabled) {
    --mdc-filled-text-field-container-color: #000;
    border-radius: 50px !important;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: #0e0e13 !important;
}

.mat-mdc-select {
    --mat-select-enabled-trigger-text-color: #ffffff !important;
}

.mdc-text-field--filled {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-floating-label,
.mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-floating-label--float-above {
    color: #6c7ded !important;
}

.mat-mdc-select-arrow {
    --mat-select-enabled-arrow-color: #fff
}