.success-snackbar {
    --mdc-snackbar-container-color: #0e8b6b;
    --mdc-snackbar-supporting-text-color: white !important;
    --mat-snack-bar-button-color: #8ae2cc !important;
    white-space: pre-wrap
}

.error-snackbar {
    --mdc-snackbar-container-color: #7b112a;
    --mat-mdc-button: white !important;
    --mat-snack-bar-button-color: #d97bb5 !important;
}

.info-snackbar {
    --mdc-snackbar-container-color: #d8ecff;
    --mat-mdc-button: black !important;
    --mdc-snackbar-supporting-text-color: black !important;
    --mat-snack-bar-button-color: #007bff !important;

}

.cdk-overlay-pane {
    position: fixed !important;
    top: 50px;
}



// .success-snackbar {
//     .mat-mdc-snack-bar-container .mdc-snackbar__surface {
//         background-color: #0e8b6b !important;
//         color: white !important;
//     }

//     --mdc-snackbar-supporting-text-color: white !important;
//     --mat-mdc-snack-bar-button-color: white !important;
//     white-space: pre-wrap
// }

// .error-snackbar {
//     .mat-mdc-snack-bar-container .mdc-snackbar__surface {
//         background-color: #7b112a !important;
//         color: white !important;
//     }

//     --mdc-snackbar-container-color: #7b112a !important;
//     --mdc-snackbar-supporting-text-color: white !important;
//     --mat-mdc-snack-bar-button-color: white !important;
//     white-space: pre-wrap
// }

.showbar {
    z-index: 999999;
}