<nav class="navbar">
    <div class="container">
        <div class="navbar-content">

            <!-- navbar part 1: logo + navigation-->
            <div>
                <a class="logo" routerLink="/">
                    <img src="assets/LogoMovieReminder1.png" alt="" />
                </a>
                <ul>
                    <li><a routerLink="/" routerLinkActive='active' [routerLinkActiveOptions]="{exact:true}">Accueil</a>
                    </li>
                    <li><a routerLink="/movies" routerLinkActive='active'>Films</a></li>
                    <li><a routerLink="/tv" routerLinkActive='active'>Séries</a></li>
                    <li>
                        <i class="fa-solid fa-circle-plus"></i>
                        <a routerLink="/watchlist" routerLinkActive='active'>Ma liste</a>
                    </li>
                    <li>
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <a routerLink="/search" routerLinkActive='searchactive'>Recherche</a>
                    </li>
                </ul>
            </div>

            <!-- navbar part 2: inscription + connexion-->
            <div>
                <ul>
                    @if((authGateway.isAuth$|async) && ((userGataway.user$ | async)) ) {
                    @if(userGataway.user$|async; as user) {
                    <li>
                        <a class="user" [matMenuTriggerFor]="menu">
                            <span>{{user.username | titlecase}}</span>
                            <img class="avatar"
                                [src]="'https://api.dicebear.com/8.x/adventurer/svg?seed='+user.username" alt="">
                        </a>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item>Compte</button>
                            <button mat-menu-item>Préférences</button>
                            <button (click)="logoutAction()" mat-menu-item>Déconnexion</button>
                        </mat-menu>
                    </li>
                    }
                    }

                    @else {
                    <li><a routerLink="/login" routerLinkActive='active'>Connexion</a></li>
                    <li><a class="btn" routerLink="/register" routerLinkActive='active'>Inscription</a></li>
                    }


                </ul>
            </div>


        </div>
        <!-- <button (click)="openNav()" class="burger-btn"><i class="fa-solid fa-bars"></i></button> -->
        <!-- <nav [class.nav-opened]="isMenuOpened"> -->

        <!-- Button close nav mobile -->
        <!-- <button (click)="closeNav()" class="close-nav-btn"><i class="fa-solid fa-xmark"></i></button> -->




        <!-- <form id="form">
                <input type="text" placeholder="Rechercher" id="search" />
            </form> -->


        <!-- </nav> -->
    </div>
</nav>
