<nav class="navbar">
    <div class="container">
        <div class="navbar-content">

            <!-- navbar part 1: logo + navigation-->
            <div>
                <a href="index.html">
                    <img src="assets/logo.png" alt="" />
                </a>
                <ul>
                    <li><a routerLink="/" routerLinkActive='active'
                            [routerLinkActiveOptions]="{ exact: true }">Accueil</a></li>
                    <li><a routerLink="/movies" routerLinkActive='active'>Films</a></li>
                    <li><a routerLink="/tv" routerLinkActive='active'>Séries</a></li>
                    <li><a routerLink="/watchlist" routerLinkActive='active'>Ma liste</a></li>
                    <li><a routerLink="/search" routerLinkActive='searchactive'><i
                                class="fa-solid fa-magnifying-glass"></i></a></li>
                </ul>
            </div>

            <!-- navbar part 2: inscription + connexion-->
            <div>
                <ul>
                    @if(authGateway.isAuth$ | async) {
                    <li><a>Angelique</a></li>
                    <li><a (click)="logoutAction()">Déconnexion</a></li>
                    }
                    @else {
                    <li><a routerLink="/login" routerLinkActive='active'>Connexion</a></li>
                    <li><a class="btn" routerLink="/register" routerLinkActive='active'>Inscription</a></li>
                    }
                </ul>
            </div>


        </div>
        <!-- <button (click)="openNav()" class="burger-btn"><i class="fa-solid fa-bars"></i></button> -->
        <!-- <nav [class.nav-opened]="isMenuOpened"> -->

        <!-- Button close nav mobile -->
        <!-- <button (click)="closeNav()" class="close-nav-btn"><i class="fa-solid fa-xmark"></i></button> -->




        <!-- <form id="form">
                <input type="text" placeholder="Rechercher" id="search" />
            </form> -->


        <!-- </nav> -->
    </div>
</nav>
