@if(movie$ | async; as movie) {

<div class="container">

    <!-- Titre film et bouton "back"-->
    <div class="title-block">
        <button (click)="location.back()" id="left" class="arrow left-arrow">
            <i class="fas fa-arrow-left"></i>
        </button>
        <h1>{{movie.titre}}</h1>
    </div>
    <!-- <ui-star score="5"></ui-star> -->
    <main class="row gy-4">
        <!-- BLOC GAUCHE: VIDEO -->
        <div class="col-12 col-lg-6">
          <ui-star [score]="movie.score"></ui-star>
            @if(authGateway.isAuth$ | async) {

            <div class="toolbar">
                <ui-button-group (selectedStatusEvent)="changeMovieWatchedStatus($event)"></ui-button-group>

                <!-- BOUTON "RETIRER A LA WATCHLIST" -->
                @if(userGateway.isMovieInWatchlist(movie)) {
                <button class="addtowatchlist active" (click)="removeMovieToWatchListAction(movie)">
                    Retirer de ma liste <i class="fa-solid fa-heart"></i>
                </button>
                }
                @else{
                <!-- BOUTON "AJOUTER A LA WATCHLIST" -->
                <button (click)="addMovieToWatchListAction(movie)" class="addtowatchlist addtowatchlist-true">
                    Ajouter à ma liste <i class="fa-regular fa-heart"></i>
                </button>
                }
            </div>



            }

            <!-- Si il y a une video -->
            @if(movie.video) {
            <ui-yt-player [videoKey]="movie.video"></ui-yt-player>
            <!-- Si il n'y a pas de video -->
            }@else {
            <div class="">
                <img [src]="getFullImageUrl(movie.image_landscape)" [alt]="movie.titre">
                <p>😒 Pas de vidéos disponible</p>
            </div>
            }
        </div>

        <!-- BLOC DROITE: TEXTES-->
        <div class="col-12 col-lg-6">

            <p>
                <span><i class="fa-solid fa-circle"></i>Sortie {{movie.date | date:'MM-yyyy'}}</span>
                <span><i class="fa-solid fa-circle"></i>Durée {{movie.duration | printduration}}</span>
            </p>
            @for(genre of movie.genres; track genre.id ) {
            <span class="badge">
                {{genre.name}}
            </span>
            }

            <h2>Résumé</h2>
            <p class="resume">{{movie.resume}}</p>

        </div>

    </main>

    <section>

        <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
            <mat-tab label="Détails">
                <div style="display: flex;flex-wrap: wrap;">
                    <div class="col-12 col-md-4">

                        <h4>Équipe</h4>
                        <ul>
                            @for(person of movie.credits.crew; track person.id) {
                            <li>{{person.name}}</li>
                            }
                        </ul>
                    </div>
                    <div class="col-12 col-md-8">
                        <h4>Acteurs</h4>
                        <ul
                            style="display: flex;flex-wrap: wrap; justify-content: space-evenly; text-align: center; list-style: none;">
                            @for(actor of movie.credits.cast; track actor.id) {
                            <li>
                                <img style="width: 150px;" [src]="getFullImageUrl(actor?.profile_path)"
                                    [alt]="actor.name">
                                {{actor.name}}
                            </li>
                            }
                        </ul>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Vidéos">Content 2</mat-tab>
        </mat-tab-group>

    </section>
</div>
}
