<div class="movies-content" id="movies">
    <div class="container">
        <h2 class="label">Tv & séries</h2>
        <ui-dropdown (OnSelectItemEvent)="selectGenre($event)" [items]="genres" />
        <div class="row">

            @for (itemTvShow of tvshows$ | async; track itemTvShow.tmdb_id) {
            <div class="animate__animated animate__fadeIn col-12 col-sm-6 col-md-3 col-lg-2 g-4">
                <ui-card [routerLink]="['/tv', itemTvShow.tmdb_id]" [item]="itemTvShow"></ui-card>
            </div>
            }

        </div>
        <!-- pagination -->
        <div class="container">
            <div class="paginations">
                <ul>
                    <li (click)="findNextMoviesAction()">Suivant</li>
                </ul>
            </div>
        </div>
    </div>
</div>