<div class="container">

    <!-- searchbar -->
    <ui-searchbar class="animate__animated animate__fadeInUp"></ui-searchbar>

    <!-- Afficher les resultats -->
    <section class="row">
        @if(results.length > 0) {
        @for(result of results; track result.tmdb_id) {
        <div class="animate__animated animate__fadeIn col-12 col-sm-6 col-md-3 col-lg-2 g-4">

            <!-- card si c'est un film -->
            <ui-card *ngIf="isMovie(result)" type="movie" [routerLink]="['/movies', result.tmdb_id]"
                [item]="result"></ui-card>

            <!-- card si c'est une série -->
            <ui-card *ngIf="isSerie(result)" type="serie" [routerLink]="['/tv', result.tmdb_id]"
                [item]="result"></ui-card>

            <!-- card si c'est un people -->
            <ui-card *ngIf="!isSerie(result) && !isMovie(result)" type="person" [item]="result"></ui-card>

        </div>
        }
        }
    </section>
    <!-- FIN Template d'affichage résultat -->

</div>