<!-- <app-navbar> -->
<app-navbar></app-navbar>

@if((isLoading$ | async)) {
<div class="loader">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>
}

<div class="block-view">
  <router-outlet></router-outlet>
</div>

<!--
    Le routing (la navigation) consiste à afficher un component
    ou un autre de manière selective SELON le changement d'URL

    routes = [
      { path: '', component: MovieListView },
      { path: 'tv', component: TvListView },
      { path: 'user-profil', component: UserProfile },
    ]
  -->