<!-- Si l'utilisateur n'est pas connecté -->
@if(!(authService.isAuth$ | async)) {
<div class="container p-5">
    <div class="d-flex flex-column justify-content-center align-items-center block">
        <i class="fa-solid fa-circle-plus"></i>
        <h1>Votre liste est vide</h1>
        <p class="text-center">Le contenu que vous ajoutez à votre liste apparaît ici.</p>
    </div>
</div>
}

@else {
<!-- Si l'utilisateur EST connecté -->
<!-- PARTIE 1: watchlist movies-->
@if(userService.user$ | async; as user) {
<section>

    <div class="container">
        <h2 class="label">Ma liste de films</h2>
        <div class="row">

            @for (itemMovie of (user.watchList.movies); track itemMovie.tmdb_id) {
            <div class="animate__animated animate__fadeIn col-12 col-sm-6 col-md-3 col-lg-2 g-3">
                <ui-card [routerLink]="['/movies', itemMovie.tmdb_id]" [item]="itemMovie"></ui-card>
            </div>
            }

        </div>
    </div>
</section>

<!-- PARTIE 2: watchlist series-->
<section>
    <div class="container">
        <h2 class="label">Ma liste de séries</h2>
        <div class="row">

            @for (itemMovie of (user.watchList.series); track itemMovie.id) {
            <div class="animate__animated animate__fadeIn col-12 col-sm-6 col-md-3 col-lg-2 g-3">
                <ui-card [routerLink]="['/movies', itemMovie.id]" [item]="itemMovie"></ui-card>
            </div>
            }

        </div>
    </div>
</section>
}
}