<!-- <div class="container p-5">
    <div class="d-flex flex-column justify-content-center align-items-center block">
        <i class="bi bi-plus-circle"></i>
        <h1>Votre liste</h1>
        <p class="text-center">Le contenu que vous ajoutez à votre liste apparaît ici.</p>
    </div>
</div> -->

<!-- PARTIE 1: user watchlist movies-->

@if(userService.user$ | async; as user) {
<section id="movies">
    <div class="container">
        <h2 class="label">Par ici les nouveautés films</h2>
        <div class="row">

            @for (itemMovie of (user.watchList.movies); track itemMovie.id) {
            <div class="animate__animated animate__fadeIn col-12 col-sm-6 col-md-3 col-lg-2 g-4">
                <ui-card [routerLink]="['/movies', itemMovie.id]" [item]="itemMovie"></ui-card>
            </div>
            }

        </div>
    </div>
</section>

<!-- PARTIE 2: user watchlist series-->
<section id="movies">
    <div class="container">
        <h2 class="label">Par ici les nouveautés films</h2>
        <div class="row">

            @for (itemMovie of (user.watchList.series); track itemMovie.id) {
            <div class="animate__animated animate__fadeIn col-12 col-sm-6 col-md-3 col-lg-2 g-4">
                <ui-card [routerLink]="['/movies', itemMovie.id]" [item]="itemMovie"></ui-card>
            </div>
            }

        </div>
    </div>
</section>
}