@if(userService.user$ | async; as user) {

<!-- 1- Si l'utilisateur n'a RIEN dans sa watchList -->
@if(user.watchList.movies.length===0 && user.watchList.series.length===0) {
<div class="container p-5">
    <div class="d-flex flex-column justify-content-center align-items-center block">
        <i class="fa-solid fa-circle-plus"></i>
        <h1>Votre liste est vide</h1>
        <p class="text-center">Les films et séries que vous ajouterez à votre liste apparaîtront ici.</p>
    </div>
</div>
}
@else {
<!-- Si l'utilisateur A des movies ou series dans sa watchList -->

<!-- PARTIE 1: watchlist movies-->
<section>
    <div class="container">
        <h2 class="label">Ma liste de films</h2>
        <div class="row">

            @for (itemMovie of (user.watchList.movies); track itemMovie.tmdb_id) {
            <div class="animate__animated animate__fadeIn col-12 col-sm-6 col-md-3 col-lg-2 g-3">
                <ui-card [routerLink]="['/movies', itemMovie.tmdb_id]" [item]="itemMovie"></ui-card>
            </div>
            }

        </div>
        @if(user.watchList.movies.length===0) {
        <p>Les films que vous ajouterez à votre liste apparaîtront ici.</p>
        }
    </div>
</section>

<!-- PARTIE 2: watchlist series-->
<section>
    <div class="container">
        <h2 class="label">Ma liste de séries</h2>
        <div class="row">

            @for (itemMovie of (user.watchList.series); track itemMovie.id) {
            <div class="animate__animated animate__fadeIn col-12 col-sm-6 col-md-3 col-lg-2 g-3">
                <ui-card [routerLink]="['/movies', itemMovie.id]" [item]="itemMovie"></ui-card>
            </div>
            }

        </div>
        @if(user.watchList.series.length===0) {
        <p>Les séries que vous ajouterez à votre liste apparaîtront ici.</p>
        }
    </div>
</section>

}
}