<!-- slider-->
@if(TMDBSvc.movies$ | async; as slider) {
<header class="slider" [style.background-image]="getFullImageUrl(slider[activeSlide].image_landscape)">
    <div class="slider-container">
        @for (itemMovie of sliders; track itemMovie.id; let i = $index) {
        <div class="slide" [class.active]="activeSlide===i"
            [style.background-image]="getFullImageUrl(itemMovie.image_landscape)">

            <div class="slider-content active">
                <h2 class="movies-title">{{itemMovie.titre}}</h2>
                <p class="movies_short_details">
                    {{itemMovie.resume}}
                </p>
                <div class="m_details">

                </div>

            </div>
        </div>
        }

        <button (click)="previousSlide()" class="arrow left-arrow" id="left">
            <i class="fas fa-arrow-left"></i>
        </button>
        <button (click)="nextSlide()" class="arrow right-arrow" id="right">
            <i class="fas fa-arrow-right"></i>
        </button>
    </div>
</header>
}


<!-- cards movies-->
<section id="movies">
    <div class="container">
        <h2 class="label">Par ici les nouveautés films</h2>
        <div class="row">

            @for (itemMovie of (TMDBSvc.movies$ | async); track itemMovie.id) {
            <div class="animate__animated animate__fadeIn col-12 col-sm-6 col-md-3 col-lg-2 g-4">
                <ui-card [routerLink]="['/movies', itemMovie.id]" [item]="itemMovie"></ui-card>
            </div>
            }

        </div>
    </div>
</section>

<!-- cards series-->
<section id="movies">
    <div class="container">
        <h2 class="label">Par ici les nouveautés séries</h2>
        <div class="row">

            @for (itemSerie of (TMDBSvc.tv$ | async); track itemSerie.id) {
            <div class="animate__animated animate__fadeIn col-12 col-sm-6 col-md-3 col-lg-2 g-4">
                <ui-card [routerLink]="['/movies', itemSerie.id]" [item]="itemSerie"></ui-card>
            </div>
            }

        </div>
    </div>
</section>

<!-- pagination
<div class="container">
    <div class="paginations">
        <ul>
            <li (click)="findPrevMoviesAction()">Previous</li>

            <li *ngFor="let page of pagination" (click)="findNextMoviesAction(page)">
                {{page}}
            </li>


            <li (click)="findNextMoviesAction()">Next</li>
        </ul>
    </div>
</div> -->