<!-- PARTIE 1: slider -->
<ui-slider [items]="TMDBSvc.movies$ | async"></ui-slider>

<!-- PARTIE 2: cards movies-->
<section id="movies">
    <div class="container">
        <h2 class="label">Par ici les nouveautés films</h2>
        <div class="row">

            @for (itemMovie of (TMDBSvc.movies$ | async); track itemMovie.id) {
            <div class="animate__animated animate__fadeIn col-12 col-sm-6 col-lg-4 col-xl-2 g-3">
                <ui-card [routerLink]="['/movies', itemMovie.id]" [item]="itemMovie"></ui-card>
            </div>
            }

        </div>
    </div>
</section>

<!-- PARTIE 3: cards series-->
<section id="movies">
    <div class="container">
        <h2 class="label">Par ici les nouveautés séries</h2>
        <div class="row">

            @for (itemSerie of (TMDBSvc.tv$ | async); track itemSerie.id) {
            <div class="animate__animated animate__fadeIn col-12 col-sm-6 col-md-4 col-lg-2 g-3">
                <ui-card [routerLink]="['/movies', itemSerie.id]" [item]="itemSerie"></ui-card>
            </div>
            }

        </div>
    </div>
</section>

<!-- pagination
<div class="container">
    <div class="paginations">
        <ul>
            <li (click)="findPrevMoviesAction()">Previous</li>

            <li *ngFor="let page of pagination" (click)="findNextMoviesAction(page)">
                {{page}}
            </li>


            <li (click)="findNextMoviesAction()">Next</li>
        </ul>
    </div>
</div> -->