@if(tvshow$ | async; as serie) {

<div class="container">

    <!-- Titre film et bouton "back"-->
    <div class="title-block">
        <button (click)="location.back()" id="left" class="arrow left-arrow">
            <i class="fas fa-arrow-left"></i>
        </button>
        <h1>{{serie.titre}}</h1>
    </div>

    <div class="row gy-4">
        <!-- BLOC GAUCHE: VIDEO -->
        <div class="col-12 col-lg-6">

            @if(authGateway.isAuth$ | async) {

            <!-- BOUTON "AJOUTER A LA WATCHLIST" -->
            <!-- @if(userGateway.isMovieInWatchlist(serie)) {
            <button class="addtowatchlist" (click)="removeMovieToWatchListAction(movie)">
                Retirer de ma liste <i class="fa-solid fa-xmark"></i>
            </button>
            }
            @else{
            BOUTON "RETIRER A LA WATCHLIST"
            <button (click)="addMovieToWatchListAction(movie)" class="addtowatchlist addtowatchlist-true">
                Ajouter à ma liste <i class="fa-solid fa-plus"></i>
            </button>
            } -->

            <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
                <label class="btn btn-outline-primary" for="btnradio1">Radio 1</label>

                <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio2">Radio 2</label>

                <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio3">Radio 3</label>
            </div>

            }

            <!-- Image -->
            <div class="">
                <img [src]="getFullImageUrl(serie.image_landscape)" [alt]="serie.titre">
            </div>

        </div>

        <!-- BLOC DROITE: TEXTES-->
        <div class="col-12 col-lg-6">

            <p>
                <span><i class="fa-solid fa-circle"></i>Sortie {{serie.date | date:'MM-yyyy'}}</span>
                <span><i class="fa-solid fa-circle"></i>Durée {{serie.episode_runtime | printduration}}</span>
            </p>
            @for(genre of serie.genres; track genre.id ) {
            <span class="badge rounded-pill text-bg-light">
                {{genre.name}}
            </span>
            }

            <h2>Résumé</h2>
            <p class="resume">{{serie.resume}}</p>

            <hr>
            <!-- FORMULAIRE DE COMMENTAIRE-->
            <h2>Avis</h2>
        </div>

    </div>
</div>
}