@if(serie) {

<div class="container">

    <!-- Titre film et bouton "back"-->
    <div class="title-block">
        <button (click)="location.back()" id="left" class="arrow left-arrow">
            <i class="fas fa-arrow-left"></i>
        </button>
        <h1>{{serie.titre}}</h1>
    </div>

    <section class="row gy-4">
        <!-- BLOC GAUCHE: VIDEO -->
        <div class="col-12 col-lg-6">

            @if(authGateway.isAuth$ | async) {

            <!-- BOUTON "AJOUTER A LA WATCHLIST" -->
            <!-- @if(userGateway.isMovieInWatchlist(serie)) {
            <button class="addtowatchlist" (click)="removeMovieToWatchListAction(movie)">
                Retirer de ma liste <i class="fa-solid fa-xmark"></i>
            </button>
            }
            @else{
            BOUTON "RETIRER A LA WATCHLIST"
            <button (click)="addMovieToWatchListAction(movie)" class="addtowatchlist addtowatchlist-true">
                Ajouter à ma liste <i class="fa-solid fa-plus"></i>
            </button>
            } -->

            <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
                <label class="btn btn-outline-primary" for="btnradio1">Radio 1</label>

                <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio2">Radio 2</label>

                <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio3">Radio 3</label>
            </div>

            }

            <!-- Image -->
            <div class="">
                <img [src]="getFullImageUrl(serie.image_landscape)" [alt]="serie.titre">
            </div>

        </div>

        <!-- BLOC DROITE: TEXTES-->
        <div class="col-12 col-lg-6">

            <p>
                <span><i class="fa-solid fa-circle"></i>Sortie {{serie.date | date:'MM-yyyy'}}</span>
                <span><i class="fa-solid fa-circle"></i>Durée {{serie.episode_runtime | printduration}}</span>
            </p>
            @for(genre of serie.genres; track genre.id ) {
            <span class="badge rounded-pill text-bg-light">
                {{genre.name}}
            </span>
            }

            <h2>Résumé</h2>
            <p class="resume">{{serie.resume}}</p>

            <hr>
            <!-- FORMULAIRE DE COMMENTAIRE-->
            <h2>Avis</h2>
        </div>

    </section>


    <!-- Details Saison & épisodes -->
    <section>

        <!-- dropdown season -->
        <mat-form-field appearance="fill">
            <mat-label>Saison</mat-label>
            <mat-select panelClass="matselect-custom" [formControl]="selectSeasonAction" disableOptionCentering>
                @for (season of serie.seasons; track season.id) {
                <mat-option [value]="season">{{season.name}}</mat-option>
                }
            </mat-select>
        </mat-form-field>

        <!-- liste des épisodes-->
        @if(seasonDetails){
        <div class="row">
            @for (episode of seasonDetails.episodes; track episode.id) {
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card">
                    <img [src]="getFullImageUrl(episode.still_path)" [alt]="episode.title">
                    <div class="card-body">
                        <h5 class="card-title">{{episode.name}}</h5>
                        <p class="card-text">{{episode.overview}}</p>
                    </div>
                </div>
            </div>
            }
        </div>
        }
    </section>




</div>
}