@if(serie) {
<div class="container">

    <!-- Titre film et bouton "back"-->
    <div class="title-block">
        <button (click)="location.back()" id="left" class="arrow left-arrow">
            <i class="fas fa-arrow-left"></i>
        </button>
        <h1>{{serie.titre}}</h1>
    </div>

    <main class="row gy-4">
        <!-- BLOC GAUCHE: VIDEO -->
        <div class="col-12 col-lg-6">
            @if(authGateway.isAuth$ | async) {

            <!-- BOUTON "AJOUTER A LA WATCHLIST" -->
            <!-- @if(userGateway.isMovieInWatchlist(serie)) {
            <button class="addtowatchlist" (click)="removeMovieToWatchListAction(movie)">
                Retirer de ma liste <i class="fa-solid fa-xmark"></i>
            </button>
            }
            @else{
            BOUTON "RETIRER A LA WATCHLIST"
            <button (click)="addMovieToWatchListAction(movie)" class="addtowatchlist addtowatchlist-true">
                Ajouter à ma liste <i class="fa-solid fa-plus"></i>
            </button>
            } -->

            <!-- <ui-button-group (selectedStatusEvent)="changeEpisodeWatchedStatus($event)"></ui-button-group> -->

            }

            <!-- Image -->
            <div class="">
                <img [src]="getFullImageUrl(serie.image_landscape)" [alt]="serie.titre">
            </div>

        </div>

        <!-- BLOC DROITE: TEXTES-->
        <div class="col-12 col-lg-6">

            <p class="d-flex">
                <span><i class="fa-solid fa-circle"></i>Sortie {{serie.date | date:'MM-yyyy'}}</span>
                <span><i class="fa-solid fa-circle"></i>Durée {{serie.episode_runtime | printduration}}</span>
            </p>
            @for(genre of serie.genres; track genre.id ) {
            <span class="badge rounded-pill text-bg-light">
                {{genre.name}}
            </span>
            }

            <h2>Résumé</h2>
            <p class="resume">{{serie.resume}}</p>

        </div>

    </main>


    <!-- Details Saison & épisodes -->
    <section>

        <!-- dropdown select season -->
        <mat-form-field appearance="fill">
            <mat-label>Saison</mat-label>
            <mat-select panelClass="matselect-custom" [formControl]="selectSeasonAction" disableOptionCentering>
                @for (season of serie.seasons; track season.id) {
                <mat-option [value]="season">{{season.name}}</mat-option>
                }
            </mat-select>
        </mat-form-field>

        <!-- liste des épisodes-->
        @if(seasonDetails){

        <div class="row g-4">
            @for (episode of seasonDetails.episodes; track episode.id) {
            <div class="col-12 col-lg-6 col-xl-4 col-xxl-3">
                <div class="card">
                    <ui-button-group (selectedStatusEvent)="changeEpisodeWatchedStatus($event)"></ui-button-group>
                    <img [src]="getFullImageUrl(episode.still_path)" [alt]="episode.title">
                    <div class="card-body">
                        <h3 class="card-title">{{episode.name}}</h3>
                        <p class="card-text">{{episode.overview}}</p>
                    </div>
                </div>
            </div>
            }
        </div>

        }
    </section>




</div>
}