.form-box {
    margin: 0 auto;
    margin-top: 70px;
    max-width: 500px;
    width: 100%;
    // background: #764bca;
    background: linear-gradient(315deg, #6e35b8, #1f1873);
    color: #fff;
    border-radius: 5px;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.6);
    padding: 2rem;

    h2 {
        font-size: 2.5rem;
        margin-bottom: 1.5rem;
        color: #fff;
    }

    form button {
        background: #17202a;
        color: #fff;
    }

    form button:hover {
        background: rgb(36, 49, 64);
        // padding: 0.5rem 2.5rem;
    }

    .fa-solid {
        font-size: 1.1rem
    }

    .fa-check {
        color: #56ffef
    }

    .fa-xmark {
        opacity: .5;
    }
}

.rappel {
    font-size: 85%;
    margin-top: 1.5rem;
    margin-bottom: 0;

    a {
        text-decoration: underline;
        color: #fff;
    }
}